@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* -----------------------------------------Colours */

.bg-color-name {
    background-color: #3a3335;
}

.bg-color-hire-us {
    background-color: #fefdfb;
}

.ui-menu-color-blue {
    background-color: #1F487E;
}

.ui-menu-color-gray {
    background-color: #2E2E2E;
}

.bg-color-history {
    background-color: #3a3335;
}

/*------------------------------------------Special Paddings/Margins/Text */

h1 {
    margin: 20% 20% 20% 20%; 
}

h3 {
    font-size: 24px;
    margin: 0;
}

h5 {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}


.row-table {
    display: table;
}

.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    text-transform: uppercase;
}

.container-fluid {
    padding-right: 10px;
    padding-left: 10px;
}

.uppercase {
    text-transform: uppercase;
}

/*------------------------------------------Heading */

.row-header .header-column {
    height: 200px;
}

.header-column2 {
    height: 0;
}

.header-anchor {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.logo {
    background-image: url("../images/capuchin_monkey_1.jpg");  
    background-position: top ;
    background-repeat: repeat-x;
    min-height: 174px;  
    transition: all .25s ease-in-out;
    }

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 64px;
    margin-bottom: 64px;
    color: #fff;
    text-align: center;
}


/*------------------------------------------ Menu Bar */

ul {
    margin-top: -1px;
}

.menubar {
    padding: 0;
    list-style-type: none;
    margin-bottom: 0;
}

.menuitem {
    height: 80px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    color: #ffffff;
    text-decoration: none;  
    height: 80px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 16px;
    }

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
 
}

.hvr-sweep-to-bottom:before {
    transition-duration: 0.5s; 
    background-color: rgba(0,0,0,0.2);
    height: 80px;
}



/*------------------------------------------ Home Main Body */

.hire-us {
    padding: 0 10px 10px 15px ;
    
}

.latest-news {
    padding: 0 0  10px 15px;
}

/*------------------------------------------ History Main Body */

.history-heading {
    color: #fff;
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.history {
    color: #fff;
    padding-right: 10px;
    padding-left: 16px;
    margin: 0;
}


/*------------------------------------------ Music Main Body */

.music-heading {
    color: #fff;
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 23px;
    text-transform: uppercase;
}

.music {
    color: #fff;
    margin: 0 auto;
}

.music-lines {
    list-style-type: none;
}

/*------------------------------------------ Images Main Body */

.image-heading {
     margin: 10px;
    }    

.image-center {
    text-align: center;
    }

.image-format {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:150px;
    height:150px;
    margin: 0 10px 10px 10px;
    display: inline-block;
}

.image-album {
    background-image: url("../images/album.jpg"); 
}

.image-cover {
    background-image: url("../images/cover.jpg"); 
}

.image-cover3 {
    background-image: url("../images/cover3.jpg"); 
}

.image-mn {
    background-image: url("../images/mn.jpg"); 
}

.image-album2 {
    background-image: url("../images/album2.jpg"); 
}

.image-cover1 {
    background-image: url("../images/cover1.jpg"); 
}

.image-dj {
    background-image: url("../images/dj.jpg"); 
}

.image-monkees {
    background-image: url("../images/monkees.jpg"); 
}

.image-band {
    background-image: url("../images/band.jpg"); 
}

.image-cover2 {
    background-image: url("../images/cover2.png"); 
}

.image-md {
    background-image: url("../images/md.jpg"); 
}

.image-pt {
    background-image: url("../images/pt.jpg"); 
}

.image-column {
    margin: 0 0 -2px 0;
    }     


/*------------------------------------------ Videos  */

video {
    width: 70%;
    height: auto;
}

/*------------------------------------------ Hire Us Contact */

.center-form {
    max-width: 80%;   
    margin: 0 auto;
    padding: 40px 40px 10px 40px;  
}

.contact-h3 {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.contact-text {
    margin-top: 20px;
}

.form-control {
    margin: 10px auto;
    resize: none;
}

button[type="contact"] {
    margin-top: 20px;
    margin-bottom: 80px;
    background-color: #ff0000;
    color: #fff;
}


/*------------------------------------------ Footer */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 100px;
    margin: 0;
}

.hire-us-link {
    padding-bottom: 15px;
    padding-top: 5px;
}

.hire-us-link a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.3s ease-in-out;
}

.hire-us-link a I:hover {
    background: #e84610;
}

.social-links {
    padding-bottom: 15px;
    padding-top: 5px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.3s ease-in-out;
}

.social-links li a I:hover {
    background: #e84610;
}

#footer-details {
    margin: 10px;
}

/*---------------------------------------- Media Queries */

@media(min-width: 480px)   {

.image-format {
    padding-bottom: 30px;
    width:250px;
    height:250px;
    }
}


@media(min-width: 768px) {

.center-form {
    max-width: 50%;   
    }    
}


@media(min-width: 992px) {
    
.logo {
    background-image: url("../images/capuchin_monkey_1.jpg");  
    }
    
.logo2 {
    background-image: url("../images/capuchin_monkey_2.jpg");   
    }

.logo-bg-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;  
    transition: all .25s ease-in-out;
    }

.header-column2 {
    height: 200px;
    }
    
ul {
    margin-top: 0;
    }

.image-center {
    text-align: left;
    }

.image-format {
    width:200px;
    height:200px;
    margin: 10px;
    display: inline-block;
}

.image-column {
    height: auto;
    color: #fff;
    } 

.center-form {
    max-width: 40%;   
    }    

}

