@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* -----------------------------------------Colours */

.bg-color-name {
    background-color: #000080;
}

.ui-menu-color {
    background-color: #000000;
}

/*------------------------------------------Special Paddings/Margins/Text */

h1 {
    margin: 20% 20% 20% 20%; 
}

h2, h3, h4 {
    margin: 0;
}

.inline-block {
    display: inline-block;
}



.row-table {
    display: table;
}

.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}


/*------------------------------------------Heading */

header {
    margin: 0;
}


.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 54px;
/*    margin-top: 50px;   */
    color: #fff;
}


.logo {
/*      background: url("../images/cover1.jpg");      */
    background: url("../images/capuchin_monkey_1.jpg");  
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;  
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.logo2 {
/*      background: url("../images/cover1.jpg");      */
    background: url("../images/capuchin_monkey_2.jpg");  
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;   
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.menuitem {
    height: 100px;
    text-align: center;
    padding: 0;
/*    width: 100%;  */
}

.menuitem a {
    color: #ffffff;

}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}
